
@{
    ViewBag.Tittle = "Home page";
  
}



    <div class="compra">
        <h3>Comprar</h3>
        <ul class="productos">
            <li>Twenty One Pilots</li>
            <li>Precio:20$</li>
            <li>Tittle:</li>
            <li>Descripcion:Deluxe</li>
        </ul>
        <button id="boton">Comprar</button>
    </div>

    

    <div>
        <div id="tituloLogin">Login</div>
        <form class="popup">
            <div>
                <label>Usuario</label>
                <input type="text" />
            </div>
            <div>
                <label>Password</label>
                <input type="password" />
            </div>
            <div>
                <label>Recordarme</label>
                <input type="checkbox" />
            </div>

            <div>

                <input type="submit" />
            </div>
        </form>
    </div>


